{% extends 'main.html' %}

{% block content%}
<style>
    .scrollClass {
        height: 150px;
        width : 150px;
        overflow-y: auto;
        border: 1px solid ;
        border-radius: 5px;
        padding: 2px;
    }
</style>
<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                    {{form.media}}
                </div>

                {% endfor %}
                <label for="formInput#text">Kindly hold control or command key to select multiple choices</label>

                <!-- tags input field -->
                <div class="form__field">
                    {% for tag in project.tags.all %}
                    <div class="project-tag tag tag--pill tag--main" id="new-tag">{{tag.name}}</div>
                    {% endfor %}
                </div>

                <div class="form__field">
                    <label for="formInput#text">Add New Tags (separate by commas)</label>
                    <textarea class="input" name="newtags" placeholder="Add tags here..."></textarea>
                </div>

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock %}